<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "new-idea-title" %>
    </div>
    <div>
      <%= f.label :body %><br>
      <%= f.text_area :body, class: "new-idea-body" %>
    </div>
  </div>

  <input type="hidden" name="published" value="1">

  <div class="field">
    <% @labels.each do |label| %>
      <% checked = @idea.has_label? label.id %>
      <%= check_box :ideas_label, label.id, {checked: checked}, label.id %>: <%= label.title %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
