<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "new-idea-title" %>
    </div>
    <div>
      <%= f.label :body %><br>
      <%= f.text_area :body, class: "new-idea-body" %>
    </div>
  </div>

  <div class="field">
    <div>
      <%= f.label :status %><br>
      <%= f.radio_button :status , '0', checked: @idea.status == 0 %>
      <%= f.label(:status_0, "memo") %>
      <%= f.radio_button :status, '1', checked: @idea.status == 1 %>
      <%= f.label(:status_1, "matome") %>
    </div>
  </div>

  <div class="field">
    <div>
      <% if @idea.published.nil? %>
        <%= hidden_field_tag 'idea[published]', '1' %>
      <% else %>
        <%= f.label :published %><br>
        <%= f.radio_button :published, '1', checked: @idea.published %>
        <%= f.label(:published_1, "open") %>
        <%= f.radio_button :published, '0', checked: !@idea.published %>
        <%= f.label(:published_0, "closed") %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <% @labels.each do |label| %>
      <% checked = @idea.has_label? label.id %>
      <%= check_box :ideas_label, label.id, {checked: checked}, label.id %>: <%= label.title %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
