<div class="container">
  <%= render 'layouts/header' %>

  <p id="notice"><%= notice %></p>

  <% if params[:published] == 'false' %>
  <p><%= link_to 'open', ideas_path(request.query_parameters.merge(published: true)) %>・closed</p>
  <% else %>
  <p>open・<%= link_to 'closed', ideas_path(request.query_parameters.merge(published: false)) %></p>
  <% end %>

  <%= render 'layouts/side' %>

  <%= render 'layouts/footer' %>
</div>
