<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

<%= link_to 'New Idea', new_idea_path, :class => "add" %>

<% if params.has_key?(:closed) %>
<h2 class="mg-b-20">Closed</h2>
<p class="mg-b-20"><a href="ideas">open</a>・closed</p>
<% else %>
<h2 class="mg-b-20">Open</h2>
<p class="mg-b-20">open・<a href="ideas?closed=1">closed</a></p>
<% end %>

<% if params.has_key?(:closed) %>
<ul class="post-list close">
<% else %>
<ul class="post-list">
<% end %>
  <% @ideas.each do |idea| %>
    <li class="post">
      <div class="post-title"><%= idea.title %></div>
      <div><%= simple_format(h(idea.body))  %></div>
      <% idea.labels.each do |label|  %>
        <%= link_to label.title, label_path(label)  %>
      <% end %>
      <div class="action">
        <%= link_to '', idea, class: "fa fa-search" %>
        <%= link_to '', edit_idea_path(idea), class: "fa fa-pencil" %>
        <% if params.has_key?(:closed) %>
        <%= link_to '', idea, method: :delete, data: { confirm: 'Reopenしますか?' }, class: "fa fa-undo" %>
        <% else %>
        <%= link_to '', idea, method: :delete, data: { confirm: 'Closeしますか?' }, class: "fa fa-trash" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<div style="margin-bottom: 30px;">
  <%= link_to 'New Label', new_label_path %>
</div>
