<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

<%= link_to 'New Idea', new_idea_path, :class => "add" %>

<% if params[:status] == '1' %>
<h2 style="margin-bottom: 20px;">Memo</h2>
<p style="margin-bottom: 20px;"><%= link_to 'Memo', ideas_path(request.query_parameters.merge(status: 0)) %>・Matome</p>
<% else %>
<h2 style="margin-bottom: 20px;">Matome</h2>
<p style="margin-bottom: 20px;">Memo・<%= link_to 'Matome', ideas_path(request.query_parameters.merge(status: 1)) %></p>
<% end %>

<% if params[:published] == 'false' %>
<h2 style="margin-bottom: 20px;">Closed</h2>
<p style="margin-bottom: 20px;"><%= link_to 'open', ideas_path(request.query_parameters.merge(published: true)) %>・closed</p>
<% else %>
<h2 style="margin-bottom: 20px;">Open</h2>
<p style="margin-bottom: 20px;">open・<%= link_to 'closed', ideas_path(request.query_parameters.merge(published: false)) %></p>
<% end %>

<ul class="post-list">
  <% @ideas.each do |idea| %>
    <li class="post">
      <div class="post-title"><%= idea.title %></div>
      <div><%= strip_tags markdown idea.body %></div>
      <% idea.labels.each do |label|  %>
        <%= link_to label.title, label_path(label)  %>
      <% end %>
      <div class="action">
        <%= link_to '', idea, class: "fa fa-search" %>
        <%= link_to '', edit_idea_path(idea), class: "fa fa-pencil" %>
        <%= link_to '', idea, method: :delete, data: { confirm: '投稿を削除しますか?' }, class: "fa fa-trash" %>
      </div>
    </li>
  <% end %>
</ul>
