<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @label.title %>
</p>

<% @label.ideas.each do |ideas| %>
  <%= link_to ideas.body, idea_path(ideas) %>
<% end %>
<%= render 'layouts/footer' %>
