<header>
  <div>
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path, id: 'login' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
